

/*.product-main-details{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}


.product-main-specs{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}
    */






/*
.show-less-button{
  bottom: 0;
  height: 50px;
  position: relative;
  width: 100%;
  border: none;
  background-color: #ffffff;
  color: #727272;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.show-more-button{
  bottom: 0;
  height: 50px;
  position: sticky;
  width: 100%;
  border: none;
  background-color: #ffffff;
  color: #727272;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}*/





